<%# ! scssのみ使用する %>
<%= stylesheet_link_tag "login", media: "all", "data-turbolinks-track": "reload" %>
<% @title = "ログイン" %>
<div id="login_form">
  <h1 class="bg-slate-900 text-slate-50 "><%= @title %></h1>
</div>
<%# ---------------------------------- %>
<div class="log-form">
  <h2>Login to your account</h2>
  <%= form_with model: @form, url: :session do |f| %>
    <%= f.text_field :email, placeholder: "email", title: "email" %>
    <%= f.password_field :password, placeholder: "password", title: "password" %>
    <%= f.submit "Login", class: "btn" %>
    <a class="forgot" href="#">Forgot Username?</a>
  <% end %>
</div>
<%# ---------------------------------- %>
<%# <div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div> %>
  <!--end log form -->
  <%# * login_form[email]、これらの値を パラメータ（parameters）と呼びます。パラメータに角括弧（[]）が含まれている場合、角括弧の前にある部分（login_form）を プレフィックス(prefix)と呼び、角括弧の内側にある部分（ email や password）をフィールド名(fieldname)と呼びます。プレフィックスはform_withメソッドのmodelオプションに指定したオブジェクトのクラス名から導き出されます。ここでのクラス名はStaff::LoginFormですので、クラス名を構成する単語を分解して、すべて小文字に変え、アンダースコア（_）で連結したlogin_formがプレフィックスとなります。なお、form_withメソッドのscopeオプションを用いれば、プレフィックスを変更できます %>
  <%# #################### コメントアウトの代わり #################### %>
  <% if false %>
    <input type="text" name="login_form[email]" id="login_form_email">
  <% end %>
  <%# ####################  コメントアウト END  #################### %>
