<%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
<header class="min-w-max min-w-full">
  <span class="logo-mark">営業アポ管理</span>
  <span>: current_account.present?:
    <%= current_account.present? %></span>
  <%= if current_account.present?
    link_to "ログアウト", :session, data: { turbo_method: :delete }, class: "apl-btn-orange"
  elsif params[:controller] != "sessions"
    link_to "ログイン", :login, class: "apl-btn-blue"
  end %>
  <span>
    | controller:
    <%= params[:controller] %>
    | params[:action]:
    <%= params[:action] %>
    | current_account.name:
    <%= current_account.name %>
  </span>
</header>
<!--
<%= content_tag(:span, flash[:alert], class: "alert") if flash[:alert] %>
-->
