
<%# - 青木 要更新- 20231015 SPA %>
<%# ¥ 操作後変更したいもの - 置き換えられるもの %>
<%= turbo_frame_tag appointment do %>
  <%# <div class="flex hover:bg-gray-50"> %>
  <%# ¥ turbo_streamを使うかどうかによってアイテムの番号を変化させる %>
  <%# ! _counterは 呼び出し元が render @service_categories などの collection時のみ使える %>
  <%# ! turbo_stream.prepend "service_categories" では collectionとならないため使えないため条件分岐が必要 %>
  <%# - Determine the value of num_counter based on various conditions %>
  <% if defined?(appointment_counter) && appointment_counter %>
  <!-- Turbo stream specific rendering logic -->
    <% num_counter = appointment_counter + 1 %>
  <% elsif local_assigns[:within_turbo_stream_create] %>
  <!-- Turbo stream specific rendering logic -->
    <% num_counter = "登録完了" %>
  <% elsif local_assigns[:within_turbo_stream_update] %>
  <!-- Turbo stream specific rendering logic -->
    <% num_counter = "更新完了" %>
  <% elsif local_assigns[:go_back] %>
    <% num_counter = "編集中止" %>
  <% else %>
    <!-- Your original rendering logic -->
    <% num_counter = "unknown" %>
  <% end %>
  <%# - flex の items-stretch ※ items-centerにすると、真ん中になった要素の高さが最大の高さになり、borderがきれいにならない 途中で線が途切れる %>
  <%# ¥ 最適解: 1. 親要素をflexにする　 2. 子要素に self-center(align-self: center;)をつけることで中央揃えにできる!!  %>

  <%# ! 本要素内を変更する場合、 index.html.erbの列名部分も調整する必要あり  %>
  <div class="flex items-stretch border-b border-r border-gray-300 _appointment_container min-w-max hover:bg-amber-50">

    <%# 1. edit + delete %>
    <div class="apl_project_common_cel_style--w_two_icons">
      <div class="flex self-center justify-end gap-4">
        <%# - 編集アイコン %>
        <%# ¥ mr-3を加えた %>
        <%# ブロックと一緒に使うと、ブロック内のコンテンツがリンクのコンテンツになります。この場合の第1引数はURLまたはパスヘルパーで、第2引数はHTMLオプションです： %>
        <%# ! turbo: false で turboを使わない %>
        <%= link_to "/appointments/#{appointment.id}/edit", class: "mr-3", data: { turbo: false, tooltip: 'Edit' } do %>
          <%# ! NG これだと select * となり意図しない動作となった。 link_to "/service_categories/#{appointment}/edit", class: "mr-3", data: { tooltip: 'Edit' }  do %>
          <!-- contents of the link go here -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 hover:text-green-400"
            x-tooltip="tooltip"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
            />
          </svg>
        <% end %>

        <%# - 削除アイコン %>
        <%= button_to appointment_path(appointment), method: :delete, data: { tooltip: 'Delete', turbo_confirm: '本当に削除しますか？' } do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 hover:text-red-500"
            x-tooltip="tooltip"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        <% end %>
      </div>
    </div>

    <%# 2. :id (No.) %>
    <div class="apl_project_common_cel_style--w_number_cel">
      <span class="apl_project_common_cel_text">
        <%= num_counter %>
      </span>
    </div>

    <%# 3. :account_id %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.account.name %>
      </span>
    </div>

    <%# 3. :service_category_id %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.service_category.name %>
      </span>
    </div>

    <%# 4. :commodity_category_id %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.commodity_category.name %>
      </span>
    </div>

    <%# 5. :duplication %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.duplication %>
      </span>
    </div>

    <%# 6. :company_name %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.company_name %>
      </span>
    </div>

    <%# 7. :company_tel %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.company_tel %>
      </span>
    </div>

    <%# 8. :company_url %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.company_url %>
      </span>
    </div>

    <%# 9. :instagram_url %>
    <div class="apl_project_common_cel_style--w_150px">
      <span class="apl_project_common_cel_text">
        <%= appointment.instagram_url %>
      </span>
    </div>

    <%# 10. :content %>
    <div class="apl_project_common_cel_style--w_600px">
      <span class="apl_project_common_cel_text">
        <%= appointment.content %>
      </span>
    </div>

    <%# 11. :call_date %>
    <div class="apl_project_common_cel_style--w_120px">
      <span class="apl_project_common_cel_text">
        <%= appointment.call_date %>
      </span>
    </div>

    <%# 12. :next_call_date %>
    <div class="apl_project_common_cel_style--w_120px">
      <span class="apl_project_common_cel_text">
        <%= appointment.next_call_date %>
      </span>
    </div>

    <%# 13. :sent_material_date %>
    <div class="apl_project_common_cel_style--w_120px">
      <span class="apl_project_common_cel_text">
        <%= appointment.sent_material_date %>
      </span>
    </div>

    <%# 14. :is_next_call %>
    <div class="apl_project_common_cel_style--w_120px">
      <span class="apl_project_common_cel_text">
        <%= appointment.is_next_call ? 'Yes' : 'No' %>
      </span>
    </div>

    <%# 15. :end_date %>
    <div class="apl_project_common_cel_style--w_120px">
      <span class="apl_project_common_cel_text">
        <%= appointment.end_date %>
      </span>
    </div>


    <%# 10. edit + delete %>
    <div class="apl_project_common_cel_style--w_two_icons">
      <div class="flex self-center justify-end gap-4">
        <%# - 編集アイコン %>
        <%# ¥ mr-3を加えた %>
        <%# ブロックと一緒に使うと、ブロック内のコンテンツがリンクのコンテンツになります。この場合の第1引数はURLまたはパスヘルパーで、第2引数はHTMLオプションです： %>
        <%# ! turbo: false で turboを使わない %>
        <%= link_to "/appointments/#{appointment.id}/edit", class: "mr-3", data: { turbo: false, tooltip: 'Edit' } do %>
          <%# ! NG これだと select * となり意図しない動作となった。 link_to "/service_categories/#{appointment}/edit", class: "mr-3", data: { tooltip: 'Edit' }  do %>
          <!-- contents of the link go here -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 hover:text-green-400"
            x-tooltip="tooltip"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
            />
          </svg>
        <% end %>

        <%# - 削除アイコン %>
        <%= button_to appointment_path(appointment), method: :delete, data: { tooltip: 'Delete', turbo_confirm: '本当に削除しますか？' } do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 hover:text-red-500"
            x-tooltip="tooltip"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        <% end %>
      </div>
    </div>
  </div><!--  <div class="flex py-4 hover:bg-amber-50">  -->
<% end %>