<h1>アポイントメント管理一覧</h1>



  <%# - pagination 表示数 %>
  <%= form_tag(request.path, method: :get, id: 'per_page_form') do %>
    Display:
    <%= select_tag "per_page", options_for_select([3, 5, 10, 20, 30, 50], params[:per_page].to_i), onchange: "this.form.submit()" %>
    items per page
    <%# ! 一時的に all で設定しているが、条件分岐が必要 %>
    <%= paginate @appointments, params: { per_page: params[:per_page] } %>
  <% end %>

  <%= form_with url: search_appointments_path, method: :get, id: 'service_category_form', data: { turbo_frame: 'appointment_list' } do |form| %>
    <%= form.label :service_category_type, "サービスタイプ: " %>
    <%= form.select :service_category_type,
            options_for_select([%w[SMM smm], %w[CX cx], %w[All all]], selected: params[:service_category_type]),
            { include_blank: "Please Select" },
            id: "service_category_select" %>
    <%= form.submit "検索", id: "test_submit", class: "apl-btn-blue", data: { turbo_frame: "appointment_list" } %>
  <% end %>

  params一覧: <%= params %>

  <%# ¥¥¥ new 20231108 turboを使うには local: true 必須　¥¥¥ %>
  <%= form_with url: search_appointments_path, method: :get, local: true, html: { class: 'flex items-end' } do %>
    <div class="flex flex-col mr-2">
      <label for="company_name_partial">会社名(部分)</label>
      <input type="search" name="company_name_partial" id="company_name_partial">
    </div>
    <div class="flex flex-col mr-2">
      <label for="company_name_exact">会社名(完全)</label>
      <input type="search" name="company_name_exact" id="company_name_exact">
    </div>

    <div class="">
      <button type="submit" class="apl-btn-blue" data-turbo-frame="appointment_list">検索</button>
      <%= link_to "クリア", appointments_path, class: "apl-btn-reset" %>
    </div>
  <% end %>
  <%# ¥¥¥ new 20231108 ¥¥¥ %>

  <%= form_with url: search_appointments_path, method: :get, id: 'combined_search_form', local: true, data: { turbo_frame: 'appointment_list' }, html: { class: 'flex items-end' } do |form| %>
  <%= form.label :service_category_type, "サービスタイプ: " %>
  <%= form.select :service_category_type,
          options_for_select([['SMM', 'smm'], ['CX', 'cx'], ['All', 'all']], selected: params[:service_category_type]),
          { include_blank: "Please Select" },
          id: "service_category_select" %>

  <div class="flex flex-col mr-2">
    <%= form.label :company_name_partial, "会社名(部分)" %>
    <%= form.search_field :company_name_partial, id: "company_name_partial" %>
  </div>
  <div class="flex flex-col mr-2">
    <%= form.label :company_name_exact, "会社名(完全)" %>
    <%= form.search_field :company_name_exact, id: "company_name_exact" %>
  </div>

  <div class="">
    <%= form.submit "検索", id: "test_submit", class: "apl-btn-blue" %>
    <%= link_to "クリア", search_appointments_path, class: "apl-btn-reset", data: { turbo_frame: "appointment_list" } %>
  </div>
<% end %>


</div>
<%# - ransack用 END %>

<%= link_to :new_appointment, class: "apl-btn-green inline-block mx-5 my-2" do %>
  <!-- contents of the link go here -->
  <button class="">新規作成(normal)</button>
<% end %>
<%# ¥ 20231018 spi用のtrubo_frame使用している %>
<%# - 青木 要更新- 20231021 SPA %>
<%# ¥ 操作後変更したいもの - data: { turbo_frame: dom_id(ServiceCategory.new) } で操作後変更したい箇所を指定している %>

<%# #################### コメントアウトの代わり #################### %>

<%# <%= link_to "新規作成", :new_account, class: "apl-btn-green inline-block mx-5 my-2", data: { turbo_frame: dom_id("Account.new") } %>
<%# ! 条件分岐する予定 %>
<%= link_to "新規作成(使用可能)", new_appointment_path, class: "apl-btn-purple inline-block mx-5 my-2", data: { turbo_frame: "new_appointment" } %>

<%= turbo_frame_tag "appointment_list" do %>
  <%# marginが view-port内で効いてしまうため、ここにもmin-x-maxが必要!! %>
  <div class="m-5 border border-gray-200 rounded-lg shadow-md min-w-max">
    <%# !!!!!!!!!!!! %>
    <div class="text-sm border-t border-gray-100 divide-gray-100 min-w-max bg-whitetext-left text-gray-500divide-y">
      <%# ! min-w-max が必要!!!! %>
      <div class="flex bg-gray-50 min-w-max">
        <%# !!!!!!!!!!!!!!!!!!!11 %>
        <%# 1 edit + delete %>

        <%# ¥ ソート機能を自前で作成中 %>
        <% sortable_columns = {
          id: ["No.", "col_width_number"],
          account_id: [t("activerecord.attributes.appointment.account_id"), "col_width_normal"],
          service_category_id: [t("activerecord.attributes.appointment.service_category_id"), "col_width_normal"],
          commodity_category_id: [t("activerecord.attributes.appointment.commodity_category_id"), "col_width_normal"],
          duplication: [t("activerecord.attributes.appointment.duplication"), "col_width_normal"],
          company_name: [t("activerecord.attributes.appointment.company_name"), "col_width_normal"],
          company_tel: [t("activerecord.attributes.appointment.company_tel"), "col_width_normal"],
          company_url: [t("activerecord.attributes.appointment.company_url"), "col_width_normal"],
          instagram_url: [t("activerecord.attributes.appointment.instagram_url"), "col_width_normal"],
          content: [t("activerecord.attributes.appointment.content"), "col_width_description"],
          call_date: [t("activerecord.attributes.appointment.call_date"), "col_width_date"],
          next_call_date: [t("activerecord.attributes.appointment.next_call_date"), "col_width_date"],
          sent_material_date: [t("activerecord.attributes.appointment.sent_material_date"), "col_width_date"],
          is_next_call: [t("activerecord.attributes.appointment.is_next_call"), "col_width_date"],
          end_date: [t("activerecord.attributes.appointment.end_date"), "col_width_date"]
        } %>

        <%# 1 edit + delete: Static, no sorting %>
        <div class="apl_project_common_header_col_style col_width_2_icons">
          edit
        </div>

        <%# Dynamic sorting links 列名 %>
        <%# ¥ {sort: column, direction: sort_direction(column)}は、urlのparamとして渡される 20231108 %>
        <% sortable_columns.each do |column, (title, width_class)| %>
          <div class="apl_project_common_header_col_style <%= width_class %>">
            <%= link_to title, { sort: column, direction: sort_direction(column) }, class: "text-blue-600 border-b border-blue-600" %>
          </div>
        <% end %>

        <%# 17 edit + delete: Static, no sorting %>
        <div class="apl_project_common_header_col_style col_width_2_icons">
          edit
        </div>

      </div>
      <div id="accounts" class="border-t border-gray-100 divide-y divide-gray-100 min-w-max">
        <%= turbo_frame_tag "new_account_form" %>
        <%# ! 単一継承しているため、 一括で@appointments として取得してもCxAppointment と SmmAppointmentとそれぞれ認識されてしまうため下記は不可 %>
        <%# <%= render @appointments %>
        <%= render partial: "appointments/appointment", collection: @appointments %>
      </div>
    </div>
  </div>
  <%= paginate @appointments, params: { per_page: params[:per_page] } %>
<% end %>

<%# --------------- %>
<!-- component -->
<%# - 青木 要更新- 20231015 %>
<%# https://tinyurl.com/yst2dmtx %>
