<%# - 20231014 htmlbeautifierが動かなくなったときの対処法 %>
<%# - VSCode Shell Environment: %>
<%# ! Sometimes VSCode might not source your shell profile correctly. To ensure it does: %>
<%# Close all VSCode instances. %>
<%# Open a regular terminal. %>
<%# ¥ Launch VSCode from this terminal by typing code and hit enter. This will inherit the shell's environment variables. %>
<%# encoding: UTF-8 %>
<!DOCTYPE html>
<html>
  <head>
    <% title = Rails.env.development? ? "開発" : "営業アポ管理" %>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# ! 20231012 動いていない? %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="main__container">
      <div id="application__wrapper">
        <% unless @hide_header %>
          <%= render "shared/header" %>
          <%= render "shared/sidebar", page: 'not dashboard' %>
        <% end %>
        <%= yield %>
      </div>
      <% unless @hide_header %>
        <%= render "shared/footer" %>
      <% end %>
    </main>
  </body>
</html>
