<%# ! 下記で画面全体に表示 - headerも隠れる %>
<%# <div class="flex items-center justify-center min-h-screen"> %>
<div class="flex items-center justify-center">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
    <div class="flex justify-center mb-8">
      <img src="https://www.emprenderconactitud.com/img/POC%20WCS%20(1).png" alt="Logo" class="h-20 w-30">
    </div>
    <h1 class="mt-8 mb-6 text-2xl font-semibold text-center text-gray-500">パスワードの変更</h1>

    <%# post create => accounts_path %>
    <%# ! Setting local: false ensures that the form submission is handled by Turbo. %>
    <%= form_with model: @account, url: update_password_account_path, local:true do |f| %>
      <%# - 青木 要削除 - 20231102 %>
      <% puts("@account.errors ::: #{@account.errors}") %>
      <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@account.errors.count, "error") %>
            prohibited this account from being saved:</h2>

          <ul>
            <% @account.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <h2><%= pluralize(@account.errors.count, "error") %>
          No validation error messages?:</h2>
      <% end %>

      <%# * 新規作成の場合のみ、パスワード関係入力欄を標示する %>

      <%# ! password 確認 %>
      <div class="mb-4">
        <%= f.label :password, "新しいパスワード <span class='required-asterisk'>*</span>".html_safe, class: "block mb-2 text-sm text-gray-600" %>
        <%= f.password_field :password, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500", required: true %>
        <%= render partial: "/shared/validation_errors", locals: { object: @account, attribute: :password } %>
      </div>

      <div class="mb-6">
        <%= f.label :password_confirmation, "新しいパスワード(確認) <span class='required-asterisk'>*</span>".html_safe, class: "block mb-2 text-sm text-gray-600" %>
        <%= f.password_field :password_confirmation, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500", required: true %>
        <%= render partial: "/shared/validation_errors", locals: { object: @account, attribute: :password_confirmation } %>
      </div>
      <%# ! password 確認 %>

      <div class="flex justify-center mt-7">
        <%= f.submit @conditional_btn_txt,
                 class: "w-32 bg-gradient-to-r from-orange-400 to-orange-600 text-white py-2 rounded-lg block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2 mr-6 cursor-pointer" %>

        <%= link_to "一覧",
        accounts_path,
        class: "text-center w-32 bg-gradient-to-r from-sky-400 to-sky-600 text-white py-2 rounded-lg block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2" %>
      </div>

    <% end %>

    <%# #################### コメントアウトの代わり #################### %>
    <% if false %>
      <div class="mb-2 text-white cursor-pointer from-orange-400 to-orange-950 focus:ring-cyan-500 "></div>
    <% end %>
    <%# ####################  コメントアウト END  #################### %>

    <div class="text-center">
      <p class="text-sm">¿Ya tienes una cuenta?
        <a href="#" class="text-cyan-600">Inicia sesión</a></p>
    </div>
    <p class="mt-8 text-xs text-center text-gray-600">&copy; 2023 WCS LAT</p>
  </div>
</div>
